
\.DS_Store

app/\.externalNativeBuild/

app/build/

gradlew

gradlew\.bat

local\.properties

import-summary\.txt

gradle/wrapper/gradle-wrapper\.jar

app/src/main/assets/senhan0919\.bin

app/src/main/assets/senhan0919\.param\.bin
